h3 {
    background-color: blue;
    

}

#elemento-unico{
    font-size: 45px;
    color:cadetblue;
}
.item{

    border: 1px solid red;
}

#h3-azul{
    font-size: 60Px;
    margin-left: auto;
    margin-right: auto;
    width: 7em
     

}
body{

    background-color: floralwhite;
}